

-    let link_re = /<([\w\d\. ]+)(;; ?src=(.*))?>/

-
    function* _Gen(list) {
        for(let i of list){
            yield i
        }
    }



-
    function listGenerator(list){
        let gen = _Gen(list)
        gen.n = gen.next
        gen.next = (pages=1) => {
            if(pages <= 1){
            return gen.n().value
        }

           let pageList = [];
            for(let i = 0; i < pages; i++){
                pageList.push(gen.n().value);
            }
            return pageList;
        }
        return gen
    }

