<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Themelio</title>
  <meta content="width=device-width, initial-scale=1.0 user-scalable=no" name="viewport">
  <meta content="Themelio is a new kind of public blockchain designed as a radically immutable trust substrate." name="description">


  <link href="" rel="icon">
  <link href="css/custom-bootstrap.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous" defer></script>

  <link href="css/main.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href='https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@"@"0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900' rel="stylesheet">
  <link href='https://fonts.googleapis.com/css2?family=Overpass:wght@"@"100;200;300;400;600;700;800;900' rel="stylesheet">
</head>

<body>
  <header class="@(when HEADER-FULL? 'header--full)">
    <nav class="navbar py-md-2 py-1 navbar-expand-md navbar-light">
      <div class="container-fluid">
        <div class="row align-items-center" style="width: 100%;">
          <div class="col-md-3 col-6">
            <a class="navbar-brand px-2">
              <img class="img-fluid" src="./images/logo-whiteback.png" alt="themelio logo">
            </a>
          </div>


          <div class="col d-md-block d-none top-nav">
            <a class="@(if (equal? ACTIVE-PAGE 'home) 'nav-active 'inactive )" href="index.html">Home</a>
            <a class="@(if (equal? ACTIVE-PAGE 'roadmap) 'nav-active 'inactive )" href="roadmap.html">Roadmap</a>
            <a class="@(if (equal? ACTIVE-PAGE 'resources) 'nav-active 'inactive )" href="resources.html">Resources</a>
            <a class="@(if (equal? ACTIVE-PAGE 'docs) 'nav-active 'inactive )" href="https://docs.themelio.org">Docs</a>
          </div>

          <div class="col-md-3 col-6 text-right"> <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button></div>
        </div>
        <div class="row align-items-center collapse" style="width: 100%;" id="collapse">
          <div class="col top-nav top-nav-collapse">
            <a class="@(if (equal? ACTIVE-PAGE 'home) 'nav-active 'inactive )" href="index.html">Home</a>
            <a class="@(if (equal? ACTIVE-PAGE 'roadmap) 'nav-active 'inactive )" href="roadmap.html">Roadmap</a>
            <a class="@(if (equal? ACTIVE-PAGE 'resources) 'nav-active 'inactive )" href="resources.html">Resources</a>
            <a class="@(if (equal? ACTIVE-PAGE 'docs) 'nav-active 'inactive )" href="https://docs.themelio.org">Docs</a>
          </div>
        </div>
      </div>
    </nav>
  </header>


  @|BODY-CONTENT|

  @(include-template "main-footer.html")

  <script src="js/jquery.min.js"></script>
  <script src="https://unpkg.com/ionicons&#x40;4.5.5/dist/ionicons.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>-->

  <!-- user script -->
  <script>
    // Hamburger toggle
    $(".header__inner__hamburger").click(function (e) {
      $(".header__inner__nav").toggle(400)
    })
  </script>
</body>

</html>
