<!DOCTYPE html>
<html lang="@LANG">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>@|TITLE| | Themelio</title>
  <meta content="width=device-width, initial-scale=1.0 user-scalable=no" name="viewport">
  <meta content="Themelio is a new kind of public blockchain designed as a radically immutable trust substrate." name="description">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="" rel="icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous" defer></script>

  <link href="css/main.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@"@"0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900' rel="stylesheet">
  <link rel="stylesheet" href='https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@"@"1.007/build/webfont/css/vf.css' />
  <link rel="stylesheet" href='https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@"@"1.007/build/webfont/css/vf-italic.css' />
  <link href='https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@"@"300;400;500;700&display=swap' rel="stylesheet">
  <link href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@"@"0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700' rel="stylesheet">
</head>

@(define (dropdown name mapping)
@list{
<span class="dropdown">
  <a class="inactive dropdown-toggle" target="_blank" rel="noopener" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@|name|</a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    @(for/list ([k mapping])
    @list{<a href="@(cdr k)">@(car k)</a>})
  </div>
</span>}
)

@define[NAVBAR]{
@list{

<a class="@(if (equal? ACTIVE-PAGE 'home) 'nav-active 'inactive )" href='@(l10n-url "index.html")'>@(l10n "nav/home")</a>
<!-- <a class="@(if (equal? ACTIVE-PAGE 'roadmap) 'nav-active ' inactive )" href='@(l10n-url "roadmap.html")'>@(l10n "nav/roadmap")</a>
<a class="@(if (equal? ACTIVE-PAGE 'learn) 'nav-active ' inactive )" href="learn.html">Learn</a>
<a class="@(if (equal? ACTIVE-PAGE 'docs) 'nav-active 'inactive )" href="https://docs.themelio.org">@(l10n "nav/docs")</a>
<a class="inactive" target="_blank" rel="noopener" href="https://scan.themelio.org">Melscan</a> -->
@(dropdown (l10n "nav/learn")
(list
(cons (l10n "nav/overview") (l10n-url "overview.html"))
(cons (l10n "nav/roadmap") (l10n-url "roadmap.html"))
(cons "Tokenomics" "https://docs.themelio.org/basic-concepts/05-tokenomics/")
))

@(dropdown (l10n "nav/developers")
(list
(cons (l10n "nav/docs") "https://docs.themelio.org")
(cons "GitHub" "https://github.com/themeliolabs")
(cons "Melscan" "https://scan.themelio.org")
))
<a class="@(if (equal? ACTIVE-PAGE 'team) 'nav-active 'inactive )" href='@(l10n-url "team.html")'>@(l10n "nav/team")</a>
<a class="inactive" href='https://medium.com/themelio'>@(l10n "nav/blog")</a>
}}

<body>
  <header class="@(when HEADER-FULL? 'header--full)">
    <nav class="navbar py-md-2 py-1 navbar-expand-md navbar-light">
      <div class="container">
        <div class="row align-items-center" style="width: 100%;">
          <div class="col-md-3 col-6">
            <a class="navbar-brand px-2" href='@(l10n-url "index.html")'>
              <img class="img-fluid" src="./images/logo-whiteback.png" alt="themelio logo">
            </a>
          </div>


          <div class="col d-md-block d-none top-nav">
            @NAVBAR
          </div>

          <div class="col-md-3 col-6 text-right">
            <!--<a href='@(l10n-url-foreign FILENAME "en-US")'>EN</a>/<a lang="zh-HK" href='@(l10n-url-foreign FILENAME "zh-HK")'>繁中</a>/<a lang="zh-CN" href='@(l10n-url-foreign FILENAME "zh-CN")'>简中</a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>-->
          </div>
        </div>
        <div class="row align-items-center collapse" style="width: 100%;" id="collapse">
          <div class="col top-nav top-nav-collapse">
            @NAVBAR
          </div>
        </div>
      </div>
    </nav>
  </header>


  @|BODY-CONTENT|

  @(include-template "main-footer.html")

  <script src="js/jquery.min.js"></script>
  <script src="https://unpkg.com/ionicons&#x40;4.5.5/dist/ionicons.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>-->

  <!-- user script -->
  <script>
    // Hamburger toggle
    $(".header__inner__hamburger").click(function (e) {
      $(".header__inner__nav").toggle(400)
    })
  </script>

  <!-- Default Statcounter code for Themelio
https://themelio.org -->
  <script type="text/javascript">
    var sc_project = 12677128;
    var sc_invisible = 1;
    var sc_security = "f229cb7b";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="Web Analytics
  Made Easy - Statcounter" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/12677128/0/f229cb7b/1/" alt="Web Analytics Made Easy - Statcounter" referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>
  <!-- End of Statcounter Code -->
</body>

</html>
