@(define HEADER-FULL? #t)
@(define ACTIVE-PAGE 'home)
@(define TITLE "Home")

@define[BODY-CONTENT]{@list{
<div class="section  section--hero">
    <div class="section__inner container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h1>@(l10n "index/tagline")</h1>
                <p class="text--blead">@(l10n "index/subtitle")</p>
            </div>
            <div class="col-6 col-md-12">
                <a href="#community-sect" class="btn btn-outline-primary btn-lg">
                    Join the community
                </a>
            </div>
        </div>
    </div>
</div>


<div class="section section--darken">
    <div class="section__inner container">
        <div class="row">
            <div class="col">
                <h2>@(l10n "index/why-title")</h2>
            </div>
        </div>
        <div class="row">
            <div class="rethink-point col-lg">
                <img class="rethink-icon" src="images/smillust/keyhole.png" />
                <div>
                    @(l10n "index/why-1")
                </div>
            </div>
            <div class="rethink-point col-lg">
                <img class="rethink-icon" src="images/smillust/fork.png" />
                <div>
                    @(l10n "index/why-2")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="rethink-point col-lg">
                <img class="rethink-icon" src="images/smillust/mel-small.png" />
                <div>
                    @(l10n "index/why-3")
                </div>
            </div>
            <div class="rethink-point col-lg">
                <img class="rethink-icon" src="images/smillust/scalability.png" />
                <div>
                    @(l10n "index/why-4")
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="section">
    <div class="section__inner container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img class="img-fluid p-3" src="images/smillust/mel-big.png" style="mix-blend-mode: darken;">
            </div>
            <div class="col-12 col-lg-6">
                <h2>@(l10n "index/introducing-melmint")</h2>
                @(l10n "index/melmint-summary")
            </div>
        </div>
    </div>
</div>



<div class="section section--darken">
    <div class="section__inner container">
        <div class="row">
            <div class="col-12 pb-3">
                <h2>@(l10n "index/explore-themelio")</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="tabset">
                    <input type="radio" name="tabset_1" id="tabset_1_participate" hidden aria-hidden="true" checked>
                    <input type="radio" name="tabset_1" id="tabset_1_build" hidden aria-hidden="true">
                    <input type="radio" name="tabset_1" id="tabset_1_learn" hidden aria-hidden="true">
                    <ul hidden aria-hidden="true">
                        <li><label for="tabset_1_participate" onclick="document.getElementById('tabset-image').src='images/homepage-participate.png'">@(l10n "index/participate")</label></li>
                        <li><label for="tabset_1_build" onclick="document.getElementById('tabset-image').src='images/homepage-build.png'">@(l10n "index/build")</label></li>
                        <li><label for="tabset_1_learn" onclick="document.getElementById('tabset-image').src='images/homepage-learn.png'">@(l10n "index/learn")</label></li>
                    </ul>
                    <div>
                        @(l10n "index/participate-build-learn")
                    </div>
                </div>
            </div>
            <div class="col">
                <img id="tabset-image" class="img-fluid" src="images/homepage-participate.png" style="mix-blend-mode: darken;" />
            </div>
        </div>
    </div>
</div>

<div class="section" id="community-sect">
    <div class="section__inner container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col text-center">
                @(l10n "index/community")
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col">
                <a class="community-card" href="https://discord.gg/VedNp7EXFc">
                    <div class="community-icon">
                        <img src='images/social_media/discord.png'>
                    </div>
                    <div class="community-desc">
                        @(l10n "index/community/discord")
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="community-card" href="https://t.me/themeliolabs">
                    <div class="community-icon">
                        <img src='images/social_media/telegram.png'>
                    </div>
                    <div class="community-desc">
                        @(l10n "index/community/telegram")
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="community-card" href="https://twitter.com/themeliolabs">
                    <div class="community-icon">
                        <img src='images/social_media/twitter.png'>
                    </div>
                    <div class="community-desc">
                        @(l10n "index/community/twitter")
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="community-card" href="https://github.com/themeliolabs/">
                    <div class="community-icon">
                        <img src='images/social_media/github.png'>
                    </div>
                    <div class="community-desc">
                        @(l10n "index/community/github")
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section section section--darken" id="blog-sect">
    <div class="section__inner container">
        <div class="row">
            <div class="col">
                <h2>@(l10n "index/blog")</h2>
                <rssapp-wall id="XBZoy5LUiQA6UTZM"></rssapp-wall>
                <script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
            </div>
        </div>
    </div>
</div>

<div class="section" id="team-sect">
    <div class="section__inner container">
        <div class="row">
            <div class="col-lg"></div>
            <div class="col-lg-8 text-center">
                <h2>@(l10n "index/team")</h2>
                <a href="team.html" class="btn btn-outline-primary btn-lg">
                    @(l10n "index/view-our-team")
                </a>
            </div>
            <div class="col-lg"></div>
        </div>
    </div>
</div>

<style>
    .bio-sections {
        display: flex;
        max-width: 100vw;
        flex-direction: column;
    }

    .bio-sections img {
        width: 10rem;
        height: 10rem;
        margin-right: 2rem;
    }

    .bio-section {
        padding-top: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .short-section {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .section {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .col-row {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
    }

    .social-media-icon {
        max-width: 4em;
    }

</style>

<!-- <div class="section section--darken text-center">
    <div class="section__inner container">
        <div class="row">
            <div class="col-lg-4">
                <ion-icon name="ios-cube" class="icon--big text-success"></ion-icon>
                <h4>Rock-solid robustness</h4>
                <p>Themelio's protocol is carefully engineered for stability and robustness. An incredibly simple data model means no parameter-tweaking hard forks. BFT proof of stake built on <a href="https://docs.themelio.org/synkletos-themelios-collusion-resistant-consensus-mechanism">a novel, collusion-proof game-theoretical model</a> ensures immediate finality and resilient decentralization. And future-proof cryptography allows Themelio to survive unforeseen cryptoanalytic breakthroughs. </p>
            </div>
            <div class="col-lg-4">
                <ion-icon name="logo-usd" class="icon--big text-primary"></ion-icon>
                <h4>Groundbreaking cryptocurrency</h4>
                <p>Themelio's base currency, Mel, is the world's first truly decentralized stablecoin. <a href="https://docs.themelio.org/melmint-trustless-stable-cryptocurrency">Melmint</a>, a fully trustless, oracle-free mechanism stabilizes a mel's value against an index representing the time cost of sequential computation. With money that is independent of both the systemic risk of oracle-based fiat pegs and the extreme volatility of previous cryptocurrencies, Themelio promises a fundamental breakthrough in decentralized financial applications. </p>
            </div>
            <div class="col-lg-4">
                <ion-icon name="ios-rocket" class="icon--big text-danger"></ion-icon>
                <h4>Usable and performant</h4>
                <p><a href="https://docs.themelio.org/melvm-specification">MelVM</a> allows you to make complex dApps unprecedented on coin-based systems, innovative mechanisms stabilizes coin prices and transaction fees, and easy-to-understand semantics eliminates unintuitive corner-cases common in other blockchains. Themelio makes it easy to build tall application stacks without frustration. And despite Themelio being a traditional one-shard blockchain, apps using it can easily achieve great performance with its design that can secure layer-2 protocols without deploying full nodes.</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="section section">
    <div class="section__inner container">
        <div class="col">
            <div class="col text-center pb-5">
                <h3>@(l10n "common/join-the-community")</h3>
            </div>
            <div class="col d-flex justify-content-around">
                @(for/list ([i '("discord" "github" "linkedin" "telegram" "twitter")])
                (define
                img "<a href=''><img class='social-media-icon' src='images/social_media/{}.png'></a>")
                (string-replace img "{}" i))

            </div>
        </div>
    </div>
</div> -->

}}

@(include-template "../main.html")
