@(define HEADER-FULL? #t)
@(define ACTIVE-PAGE 'home)

@define[BODY-CONTENT]{@list{
<div class="section  section--hero">
    <div class="section__inner container">
        <div class="col">
            <div class="col-12 col-lg-9">
                <h1>@(l10n "index/tagline")</h1>
                <p class="text--blead">@(l10n "index/subtitle")</p>
            </div>
            <div class="col-6 col-md-12">
                <div id="mc_embed_signup">
                    <form action="https://pm.us20.list-manage.com/subscribe/post?u=d1fa068da18aba6d2e0e0dc79&amp;id=61a9213385" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="d-flex" id="mc_embed_signup_scroll">
                            <div class="mc-field-group form-group mr-3 pr-3">
                                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="your&#x40;email.com">
                                <small class="form-text text-muted">@(l10n "footer/noshare")</small>
                            </div>
                            <div id="mce-responses" class="clear form-group">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d1fa068da18aba6d2e0e0dc79_61a9213385" tabindex="-1" value=""></div>
                            <div class="clear form-group">
                                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-dark">
                                    @(l10n "footer/subscribe")
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section--darken">
    <div class="section__inner container">
        <div class="row text--lead">
            <div class="col-lg">
                <h2>
                    @(l10n "index/about-title")
                </h2>
                @(l10n "index/about")
            </div>
            <div class="col-lg text-center">
                <img src="images/goodstack.png" style="max-height: 500px;width:auto;max-width: 100%">
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section__inner container">
        <div class="row">
            <div class="col-12 col-lg-3">
                (insert infographic)
            </div>
            <div class="col-12 col-lg-9">
                <h3>@(l10n "index/introducing-melmint")</h3>
                @(l10n "index/melmint-summary")

                <a href="" class="more-link">@(l10n "index/themelio-tokenomics")</a>
            </div>
        </div>
    </div>
</div>

<div class="section section--darken">
    <div class="section__inner container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3>@(l10n "index/principles-title")</h3>
                <a class="more-link" href="">@(l10n "index/explore-the-stack")</a>
            </div>
            <div class="col-12 col-lg-6">
                <div class="rethink-point">
                    <h4>Endogenous trust</h4>
                    <p class="">The killer feature of blockchains: don’t trust people, trust the protocol.</p>
                </div>
                <div class="rethink-point">
                    <h4>Immutability</h4>
                    <p class="">Changing blockchains destroys endogenous trust. So Themelio does not change.</p>
                </div>
                <div class="rethink-point">
                    <h4>Layered scalability</h4>
                    <p class="">Themelio’s solution for endogenous trust also brings revolutionary flexibility and performance.</p>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <h4>@(l10n "common/immutability")</h4>
                <p class="">@(l10n "index/immutability-summary")</p>
            </div>
            <div class="col">
                <h4>@(l10n "common/minimal-governance")</h4>
                <p class="">@(l10n "index/minimal-governance-summary")</p>
            </div>
            <div class="col">
                <h4>@(l10n "common/vertical-scalability")</h4>
                <p class="">@(l10n "index/vertical-scalability-summary")</p>
            </div>
        </div> -->
    </div>
</div>


<div class="section">
    <div class="section__inner container">
        <div class="row">
            <div class="col-12 pb-3">
                <h3>Explore Themelio</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <h4>Participate</h4>
                <p>
                    Though still in alpha, Themelio is fully running and ready for your participation.</p>

                <p>Run full-featured thin clients or nodes, both on Themelio’s testnet and on its prototype mainnet.</p>

                <p>Official wallets let you store and transact in MEL, SYM, and any other Themelio-based token. You can even mint your own MEL.
                </p>
            </div>
            <div class="col-lg">
                <h4>Build</h4>
                <p>Write expressive covenants on Themelio with Melodeon, our purely functional covenant language. </p>

                <p>Make your own token with a single command, and use it seamlessly in our official wallets.</p>

                <p>Themelio’s paradigm shift spawns a new generation of off-chain apps with on-chain security that you can explore.</p>
            </div>
            <div class="col-lg">
                <h4>Learn</h4>
                <p>The Learn page contains everything you need to get started with Themelio.</p>

                <p>We also have comprehensive documentation of Themelio’s technologies, including in-depth whitepapers on consensus, Melmint, and more.</p>

                <p>Follow our latest developments on our blog.</p>
            </div>
        </div>
    </div>
</div>


<div class="section section--darken">
    <div class="section__inner container">
        <div class="row">
            <div class="col">
                <h3>@(l10n "index/meet-title")</h2>
                    <p>@(l10n "index/meet")</p>
                    <div class="bio-sections">
                        <div class="bio-section">
                            <img src="images/team/eric.jpg" alt="" class="team-avatar">
                            <div>
                                <h4>@(l10n "index/eric-title")</h2>
                                    <p>@(l10n "index/eric-bio")</p>
                            </div>
                        </div>

                        <div class="bio-section">
                            <img src="images/team/meade.jpg" alt="" class="team-avatar">
                            <div>
                                <h4>@(l10n "index/meade-title")</h2>
                                    <p>@(l10n "index/meade-bio")</p>
                            </div>
                        </div>

                        <div class="bio-section">
                            <img src="images/team/jay.jpg" alt="" class="team-avatar">
                            <div>
                                <h4>@(l10n "index/jay-title")</h2>
                                    <p>@(l10n "index/jay-bio")</p>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>

<!-- <div class="short-section">
    <div class="section__inner container">
        <div class="col">
            <div class="col">
                <h2>
                    @(l10n "index/investors")
                </h2>
            </div>
            <div class="row" style="display:flex; justify-content: center;">
                <img src="images/investors/polychain.png" alt="" srcset="">
            </div>
        </div>
    </div>
</div> -->

<style>
    .bio-sections {
        display: flex;
        max-width: 100vw;
        flex-direction: column;
    }

    .bio-sections img {
        width: 10rem;
        height: 10rem;
        margin-right: 2rem;
    }

    .bio-section {
        padding-top: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .short-section {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .section {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .col-row {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
    }

    .social-media-icon {
        max-width: 4em;
    }

    .section__inner.container {
        padding: 0;
    }

    .section__inner.container>.col {
        margin: 0;
        padding: 0;
    }

</style>

<!-- <div class="section section--darken text-center">
    <div class="section__inner container">
        <div class="row">
            <div class="col-lg-4">
                <ion-icon name="ios-cube" class="icon--big text-success"></ion-icon>
                <h4>Rock-solid robustness</h4>
                <p>Themelio's protocol is carefully engineered for stability and robustness. An incredibly simple data model means no parameter-tweaking hard forks. BFT proof of stake built on <a href="https://docs.themelio.org/synkletos-themelios-collusion-resistant-consensus-mechanism">a novel, collusion-proof game-theoretical model</a> ensures immediate finality and resilient decentralization. And future-proof cryptography allows Themelio to survive unforeseen cryptoanalytic breakthroughs. </p>
            </div>
            <div class="col-lg-4">
                <ion-icon name="logo-usd" class="icon--big text-primary"></ion-icon>
                <h4>Groundbreaking cryptocurrency</h4>
                <p>Themelio's base currency, Mel, is the world's first truly decentralized stablecoin. <a href="https://docs.themelio.org/melmint-trustless-stable-cryptocurrency">Melmint</a>, a fully trustless, oracle-free mechanism stabilizes a mel's value against an index representing the time cost of sequential computation. With money that is independent of both the systemic risk of oracle-based fiat pegs and the extreme volatility of previous cryptocurrencies, Themelio promises a fundamental breakthrough in decentralized financial applications. </p>
            </div>
            <div class="col-lg-4">
                <ion-icon name="ios-rocket" class="icon--big text-danger"></ion-icon>
                <h4>Usable and performant</h4>
                <p><a href="https://docs.themelio.org/melvm-specification">MelVM</a> allows you to make complex dApps unprecedented on coin-based systems, innovative mechanisms stabilizes coin prices and transaction fees, and easy-to-understand semantics eliminates unintuitive corner-cases common in other blockchains. Themelio makes it easy to build tall application stacks without frustration. And despite Themelio being a traditional one-shard blockchain, apps using it can easily achieve great performance with its design that can secure layer-2 protocols without deploying full nodes.</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="section section">
    <div class="section__inner container">
        <div class="col">
            <div class="col text-center pb-5">
                <h3>@(l10n "common/join-the-community")</h3>
            </div>
            <div class="col d-flex justify-content-around">
                @(for/list ([i '("discord" "github" "linkedin" "telegram" "twitter")])
                (define
                img "<a href=''><img class='social-media-icon' src='images/social_media/{}.png'></a>")
                (string-replace img "{}" i))

            </div>
        </div>
    </div>
</div> -->

}}

@(include-template "../main.html")
