@(define HEADER-FULL? #t)
@(define ACTIVE-PAGE 'learn)
@define[BODY-CONTENT]{@list{
<div class="section">
    <div class="section__inner container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Learn</h1>
                <p class="text--lead">Explore the Themelio's new blockchain paradigm&mdash;richly layered applications evolving on a permanent foundation of endogenous trust. </p>
            </div>
            <div class="col-lg-4">
                SOMETHING GOES HERE
            </div>
        </div>
    </div>
</div>
<div class="section section--darken">
    <div class="section__inner container">
        <div class="row">
            <div class="col">
                <h2>An architectural revolution</h2>
                <p class="text--lead">Themelio's key innovation is a new abstraction level that decouples blockchains from applications.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg round-card arch-description m-3 p-5">
                <img src="https://via.placeholder.com/1000x1500">
                <h3>Traditional platform &amp;<br>application blockchains</h3>
                <ul>
                    <li>Blockchain is tightly coupled to applications</li>
                    <li>Application evolution eventually requires the blockchain to adapt</li>
                    <li>Contentious, destabilizing blockchain protocol changes that undermine endogenous trust</li>
                </ul>
            </div>
            <div class="col-lg round-card arch-description m-3 p-5">
                <img src="https://via.placeholder.com/1000x1500">
                <h3>Themelio&rsquo;s decoupled architecture</h3>
                <ul>
                    <li>Separated from applications by flexible mid-level protocols</li>
                    <li>Applications and protocols can evolve without changing layer-1 blockchain</li>
                    <li>Powerful enough to build layer-2 protocols that inherit the blockchain's security</li>
                    <li>Governance-free, immutable blockchain that needs no change</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section__inner container">
        <div class="row">
            <div class="col-lg-4"> <img src="https://via.placeholder.com/1000" class="img-fluid"></div>
            <div class="col-lg-8">
                <h3>Robust endogenous trust</h3>
                <p>Blockchains' most distinctive feature is <b>endogenous trust</b>: security guaranteed by the protocol, not by its participants. Yet existing blockchains don&rsquo;t ensure endogenous trust. Tightly coupled with applications, they are forced to change with application needs. And we are forced to trust whoever decides the changes.</p>
                <p>So Themelio rejects the &ldquo;world computer&rdquo; paradigm that directly interfaces with apps. We focus on providing an <a href="https://docs.themelio.org/basic-concepts/01-endogenous-trust/">immutable foundation that never needs trust-damaging protocol changes</a>.</p>
            </div>
        </div>
    </div>
</div>

<div class="section section--darken">
    <div class="section__inner container">
        <div class="row">
            <div class="col-lg-8">
                <h3>Covenant-powered smart coins</h3>
                <p>Most general-purpose blockchains use an &ldquo;account-based&rdquo; ledger containing accounts with balances, belonging to either people or on-chain smart contracts. But this tightly couples apps with the blockchain and introduces opportunities for security-shattering contract bugs, undermining endogenous trust. </p>
                <p>Instead, Themelio uses a more elegant model perfect for a fundamental trust layer &mdash; <a href="https://docs.themelio.org/basic-concepts/02-state/">Bitcoin's &ldquo;coin-based&rdquo; model, augmented with rich scripting and thin clients.</a></p>
            </div>
            <div class="col-lg-4"> <img src="https://via.placeholder.com/1000" class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section__inner container">
        <div class="row">
            <div class="col-lg-4"> <img src="https://via.placeholder.com/1000" class="img-fluid"></div>
            <div class="col-lg-8">
                <h3>Collusion-resistant consensus game</h3>
                <p>Even without protocol changes, endogenous trust in any blockchain relies on its <b>consensus game</b> that incentivizes correct behavior. But blockchains today often design their consensus games on shaky security assumptions and patch up failures by violating endogenous trust.</p>
                <p>Themelio's innovative proof-of-stake system, Synkletos, is designed to <a href="https://docs.themelio.org/basic-concepts/03-consensus/">maximize long-term safety even in the presence of unlimited collusion</a>.</p>
            </div>
        </div>
    </div>
</div>

<div class="section section--darken">
    <div class="section__inner container">
        <div class="row">
            <div class="col-lg-8">
                <h3>World&rsquo;s first non-fiat stablecoin</h3>
                <p>Themelio’s base currency, Mel, is a new asset class that finally delivers on crypto&rsquo;s promise of sound decentralized money. <a href="https://docs.themelio.org/basic-concepts/04-melmint/">Melmint, a fully trustless, oracle-free issuance mechanism</a>, stabilizes Mel's value against an index representing the time cost of sequential computation.</p>
                <p>
                    Mel has no ties to any fiat currency and stability beyond any conventional cryptocurrency. It is a fundamental breakthrough in money.</p>
            </div>
            <div class="col-lg-4"> <img src="https://via.placeholder.com/1000" class="img-fluid"></div>
        </div>
    </div>
</div>

</div>}}
@(include-template "../main.html")
