@(define HEADER-FULL? #f)
@(define ACTIVE-PAGE 'team)
@(define TITLE "Team")

@(define (bio-once #:name name #:aka [aka #f] #:title title
#:blurb [blurb "some blurb"]
#:website [website #f]
#:github [github #f]
#:twitter [twitter #f]
#:telegram [telegram #f]
#:linkedin [linkedin #f])
@list{
<h3>@|name|</h3>
@(if aka @list{<small style="margin-top: -0.5rem; display: block">aka Yuhao Dong, nullchinchilla</small>} "")
<span class="bio-title">@|title|</span>
<hr>
<p>@|blurb|</p>
@(if website @list{<a class="bio-icon fas fa-globe" href="@|website|" target="_blank" rel="noopener noreferrer"></a>} "")
@(if github @list{<a class="bio-icon fab fa-github" href="@|github|" target="_blank" rel="noopener noreferrer"></a>} "")
@(if twitter @list{<a class="bio-icon fab fa-twitter" href="@|twitter|" target="_blank" rel="noopener noreferrer"></a>} "")
@(if telegram @list{<a class="bio-icon fab fa-telegram" href="@|telegram|" target="_blank" rel="noopener noreferrer"></a>} "")
@(if linkedin @list{<a class="bio-icon fab fa-linkedin" href="@|linkedin|" target="_blank" rel="noopener noreferrer"></a>} "")
}
)

@define[BODY-CONTENT]{@list{
<div class="section">
    <div class="section__inner container">
        <div class="row">
            <div class="col">
                <h1>Team</h1>
                <p>We are on a mission to build a permanent root of trust for a new paradigm of faster, more usable, and far more secure decentralized apps. We envision a future where the true potential of public blockchains is unlocked and secure online interaction is freed from dependence on unaccountable centralization.</p>
            </div>
        </div>
    </div>
</div>

<div class="section section--darken">
    <div class="section__inner container">
        <div class="row bio-row">
            <div class="col-lg-4">
                <div class="bio-section">
                    <img src="images/team/eric.jpg" class="team-avatar">
                    @(bio-once #:name "Eric Tung" #:aka "aka Yuhao Dong, nullchinchilla"
                    #:title "Founder, CEO"
                    #:blurb "Cypherpunk, polymath, and security researcher. Architect of novel technologies spanning diverse levels of abstraction. Single-handedly runs Geph, a VPN with unique cryptography-powered privacy protection and censorship circumvention."
                    #:website "https://nullchinchilla.me"
                    #:github "https://github.com/nullchinchilla"
                    #:twitter "https://twitter.com/nullchinchilla"
                    #:telegram "https://t.me/nullchinchilla"
                    #:linkedin "https://www.linkedin.com/in/yuhao-dong2021/")
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bio-section">
                    <img src="images/team/meade.jpg" class="team-avatar">
                    @(bio-once #:name "Meade Kincke"
                    #:title "Head of DevOps"
                    #:blurb "Strategic, ambitious, and self taught technology executive who has worked on everything from global infrastructure to the Rust compiler. Develops and maintains Themelio's core infrastructure, finding show-stopping bugs and optimizing safety and performance."
                    #:github "https://github.com/thedarkula")
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bio-section">
                    <img src="images/team/jay.jpg" class="team-avatar">
                    @(bio-once #:name "Jay Butera"
                    #:title "Compiler Engineer"
                    #:blurb "Contributor to the Ethereum and Polkadot ecosystems, concerning zero-knowledge NFTs and composable graph databases. Develops tools which empower rather than enslave."
                    #:github "https://github.com/jaybutera")
                </div>
            </div>
        </div>
        <div class="row bio-row">
            <div class="col-lg-4">
                <div class="bio-section">
                    <img src="images/team/shane.jpg" class="team-avatar">
                    @(bio-once #:name "Shane Mendez"
                    #:title "Software Engineer"
                    #:blurb "Motivated by family, hard work, and loyalty. Crafts not only fast and reliable software, but technologies that uplift people and society."
                    #:github "https://github.com/sshmendez")
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="bio-section">
                    <img src="images/team/marco.jpg" class="team-avatar">
                    @(bio-once #:name "Marco Serrano"
                    #:title "Software Engineer"
                    #:blurb "Hailing from the same alma mater as the Dread Pirate Roberts, but much more scrupulous. Developing software since 2013, obsessed with blockchain since 2017, all-in on defi since 2020. Problem-solver first, focused on security and turning weaknesses into strengths."
                    #:github "https://github.com/sadministrator")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section__inner container">
        <div class="row">
            <div class="col">
                <h2>Partners</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <a href="https://polychain.capital/"><img class="partner-icon" src="images/polychain.gif"></a>
            </div>
        </div>
    </div>
</div>

}}
@(include-template "../main.html")
