

-    let link_re = /<([\w\d\. ]+)(;; ?src=(.*))?>/

-
    function* _Gen(list) {
        for(let i of list){
            yield i
        }
    }



-
    function listGenerator(list){
        let gen = _Gen(list)
        gen.n = gen.next
        gen.next = (pages=1) => {
            if(pages <= 1){
            return gen.n().value
        }

           let pageList = [];
            for(let i = 0; i < pages; i++){
                pageList.push(gen.n().value);
            }
            return pageList;
        }
        return gen
    }

mixin section(dark=false)
    .section(class=(dark ? "section--darken" : "")+(attributes.class || ""))
        div.section__inner.container
            div.col.text--lead
                block


mixin main
    | @(define HEADER-FULL? #t)
    | @(define ACTIVE-PAGE 'home)
    | @define[BODY-CONTENT]{@list{
    block 
    | }}
    | @(include-template "../main.html")   
